<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>377450177284-qbmtqd3n149kmvhberas9s6r37s8qe9r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCguN-EmPS0T4eIIpVkeH5AqRN7MObHES4</string>
	<key>GCM_SENDER_ID</key>
	<string>377450177284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.lawired.albup</string>
	<key>PROJECT_ID</key>
	<string>albup-feb04</string>
	<key>STORAGE_BUCKET</key>
	<string>albup-feb04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377450177284:ios:41ba54aa995d95af142651</string>
</dict>
</plist>